


/* Sidebar açıldığında (input checked olduğunda) sol tarafa kayar */
input:checked~aside {
    left: 0;
    /* Açılınca görünür olur */
    transition: left 0.5s ease;
    /* Kapanırken geçerli olacak animasyon */
}

/* Sidebar kapalı duruma geçtiğinde animasyonlu kapanma */
input:not(:checked)~aside {
    left: -250px;
    transition: left 0.5s ease;
    /* Açılırken de animasyonlu olacak */
}

